body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgb(27, 27, 27), rgb(61, 61, 61));
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid rgba(145, 144, 144, 0.445);
}

img {
  height: 45px;
  width: 65px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  text-decoration: underline;
  background-image: linear-gradient(
    45deg,
    whitesmoke,
    rgba(128, 128, 128, 0.452)
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  margin: 0;
}

.balance-container {
  background-image: linear-gradient(rgb(61, 61, 61), rgb(27, 27, 27));
  margin: 10px;
  color: rgb(86, 233, 86);
  border: 4px solid rgba(36, 35, 35, 0.445);
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 8px rgba(86, 233, 86, 0.705);
}

.balance-text {
  font-size: 25px;
}

.balance,
.money {
  font-size: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
  border: 3px solid rgba(145, 144, 144, 0.445);
  background-image: linear-gradient(rgb(61, 61, 61), rgb(27, 27, 27));
  border-radius: 10px;
  margin: 10px;
}

.budget-form {
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 170px;
  text-align: center;
}

.budget-label {
  font-size: 20px;
  color: rgba(228, 141, 10, 0.938);
  text-shadow: 2px 2px #02020200;
  border: 2px solid rgba(36, 35, 35, 0.445);
  background-image: linear-gradient(rgb(27, 27, 27), rgb(61, 61, 61));
  box-shadow: 0 0 12px rgba(228, 141, 10, 0.829);
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  width: 180px;
}

input[type="text"],
textarea {
  padding: 3px;
  color: rgb(86, 233, 86);
  background-color: rgba(36, 35, 35, 0.445);
  font-size: 14px;
  text-align: center;
  width: 150px;
  border-color: rgba(180, 179, 179, 0.527);
  border-radius: 5px;
}

.escape,
.update-button,
.submit-button {
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  color: rgb(180, 179, 179);
  background-color: green;
  border: none;
  border-radius: 5px;
  width: 150px;
  display: flex;
  justify-content: center;
  transition-duration: 0.4s;
}

.escape:hover,
.submit-button:hover,
.update-button:hover {
  color: rgb(180, 179, 179);
  background-color: rgba(228, 141, 10, 0.829);
  box-shadow: 0 0 12px rgba(86, 233, 86, 0.705);
}

.escape:active,
.submit-button:active,
.update-button:active {
  color: rgb(180, 179, 179);
  background-color: rgba(86, 233, 86, 0.705);
}

.expense-form {
  margin: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 170px;
  text-align: center;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.expense-text {
  font-size: 17px;
  color: rgba(228, 141, 10, 0.938);
  text-shadow: 2px 2px #02020200;
  border: 2px solid rgba(36, 35, 35, 0.445);
  background-image: linear-gradient(rgb(27, 27, 27), rgb(61, 61, 61));
  border-radius: 15px;
  padding: 8px;
  font-weight: bold;
  width: 280px;
}

select {
  padding: 3px;
  color: #9154e6;
  background-color: rgba(36, 35, 35, 0.445);
  font-size: 14px;
  text-align: center;
  width: 150px;
  border-color: rgba(180, 179, 179, 0.527);
  border-radius: 5px;
}

select option {
  background-color: rgba(36, 35, 35);
  padding: 20px;
}

.total-spent-container {
  background-image: linear-gradient(rgb(61, 61, 61), rgb(27, 27, 27));
  border: 4px solid rgba(36, 35, 35, 0.445);
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 8px rgb(2, 151, 238);
}

.total-expense {
  color: rgb(2, 151, 238);
  font-size: 20px;
}

.money-spent {
  color: rgb(202, 12, 12);
  font-weight: 100;
  font-size: 25px;
}

.expense-list {
  margin: 10px;
}

.expenses {
  color: #9154e6;
  background-color: rgba(19, 19, 19, 0.562);
  font-weight: lighter;
  font-size: 18px;
  font-weight: bold;
  margin: 2px 0px;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: 2px solid rgba(180, 179, 179, 0.527);
  border-bottom: 2px solid rgba(180, 179, 179, 0.527);
}

.entertainment,
.food,
.clothing,
.bills {
  font-weight: 100;
  color: rgb(185, 185, 31);
}

.overload {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no-funds {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: lightgray;
  border: 2px solid rgba(180, 179, 179, 0.527);
  background-image: linear-gradient(rgb(27, 27, 27), rgb(61, 61, 61));
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credit {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.credit-para {
  font-size: 10px;
  color: lightgray;
  margin: 5px 10px;
}

@media only screen and (min-width: 768px) {
  .main {
    display: flex;
  }

  .balance-container {
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(36, 35, 35, 0.445);
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 15px rgba(86, 233, 86, 0.705);
  }

  .balance-text {
    font-size: 25px;
  }

  .balance,
  .money {
    font-size: 35px;
  }

  .form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 4px solid rgba(36, 35, 35, 0.445);
    border-radius: 10px;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(27, 27, 27), rgb(61, 61, 61));
    box-shadow: 0 0 15px whitesmoke;
    margin: 10px;
    padding: 10px;
  }

  .form-container {
    border: 5px solid rgba(145, 144, 144, 0.342);
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgb(179, 179, 179);
    /* box-shadow: 0 0 12px rgba(228, 141, 10, 0.829); */
  }

  .budget-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 300px;
    text-align: center;
    justify-content: space-around;
  }

  .expense-form {
    margin: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 300px;
  }

  .expense-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 500px;
    width: 400px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(27, 27, 27), rgb(61, 61, 61));
    border: 4px solid rgba(36, 35, 35, 0.445);

    border-radius: 10px;

    height: 500px;
    box-shadow: 0 0 15px whitesmoke;
  }

  .expenses {
    padding: 20px 40px;
    margin: 2px;
    width: 300px;
    font-size: 20px;
  }

  .total-spent-container {
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(36, 35, 35, 0.445);
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 15px rgb(2, 151, 238);
    margin: 10px;
    padding: 10px;
  }

  .total-expense {
    font-size: 30px;
  }

  .money-spent {
    font-size: 35px;
  }

  .expense-div {
    margin: 10px;
  }

  .entertainment,
  .food,
  .clothing,
  .bills {
    font-size: 20px;
  }

  .inspo {
    display: flex;
    border: 5px dotted rgba(100, 148, 237, 0.733);
    width: 350px;
    text-align: center;
  }
}
